## Estrazione dei dati.

Data download dei dati: 10-12-2024

Data ultimo upgrade dei dati: 22-11-2024

Sito origine dei dati: data.wa.gov

Link origine dei dati: https://catalog.data.gov/dataset/electric-vehicle-population-data

In [36]:
import polars as pl
from pathlib import Path

data_dir = Path('DATA')
data_file = ".."/ data_dir / "Electric_Vehicle_Population_Data.csv"

data = pl.read_csv(data_file)

#Breve visualizzazione dei dati
data.head()
data.describe()

shape: (9, 18)
┌────────────┬────────────┬────────┬──────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ statistic  ┆ VIN (1-10) ┆ County ┆ City     ┆ … ┆ DOL        ┆ Vehicle   ┆ Electric  ┆ 2020      │
│ ---        ┆ ---        ┆ ---    ┆ ---      ┆   ┆ Vehicle ID ┆ Location  ┆ Utility   ┆ Census    │
│ str        ┆ str        ┆ str    ┆ str      ┆   ┆ ---        ┆ ---       ┆ ---       ┆ Tract     │
│            ┆            ┆        ┆          ┆   ┆ f64        ┆ str       ┆ str       ┆ ---       │
│            ┆            ┆        ┆          ┆   ┆            ┆           ┆           ┆ f64       │
╞════════════╪════════════╪════════╪══════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ count      ┆ 216772     ┆ 216767 ┆ 216767   ┆ … ┆ 216772.0   ┆ 216761    ┆ 216767    ┆ 216767.0  │
│ null_count ┆ 0          ┆ 5      ┆ 5        ┆ … ┆ 0.0        ┆ 11        ┆ 5         ┆ 5.0       │
│ mean       ┆ null       ┆ null   ┆ null     ┆ … ┆ 2.3045e8   ┆ null      ┆ null      ┆ 5.2982e10 │
│ std        ┆ null       ┆ null   ┆ null     ┆ … ┆ 7.0450e7   ┆ null      ┆ null      ┆ 1.5147e9  │
│ min        ┆ 1C4JJXN60P ┆ Ada    ┆ Aberdeen ┆ … ┆ 4385.0     ┆ POINT (-1 ┆ AVISTA    ┆ 1.0010e9  │
│            ┆            ┆        ┆          ┆   ┆            ┆ 00.50078  ┆ CORP      ┆           │
│            ┆            ┆        ┆          ┆   ┆            ┆ 31.4168)  ┆           ┆           │
│ 25%        ┆ null       ┆ null   ┆ null     ┆ … ┆ 1.96232816 ┆ null      ┆ null      ┆ 5.3033e10 │
│            ┆            ┆        ┆          ┆   ┆ e8         ┆           ┆           ┆           │
│ 50%        ┆ null       ┆ null   ┆ null     ┆ … ┆ 2.44032309 ┆ null      ┆ null      ┆ 5.3033e10 │
│            ┆            ┆        ┆          ┆   ┆ e8         ┆           ┆           ┆           │
│ 75%        ┆ null       ┆ null   ┆ null     ┆ … ┆ 2.64906967 ┆ null      ┆ null      ┆ 5.3053e10 │
│            ┆            ┆        ┆          ┆   ┆ e8         ┆           ┆           ┆           │
│ max        ┆ ZHWUC1ZM1R ┆ Yuba   ┆ Zillah   ┆ … ┆ 4.79254772 ┆ POINT (-9 ┆ PUGET     ┆ 5.6021e10 │
│            ┆            ┆        ┆          ┆   ┆ e8         ┆ 8.72277   ┆ SOUND     ┆           │
│            ┆            ┆        ┆          ┆   ┆            ┆ 29.44539) ┆ ENERGY    ┆           │
│            ┆            ┆        ┆          ┆   ┆            ┆           ┆ INC||PUD  ┆           │
│            ┆            ┆        ┆          ┆   ┆            ┆           ┆ NO…       ┆           │
└────────────┴────────────┴────────┴──────────┴───┴────────────┴───────────┴───────────┴───────────┘

## Manipolazione dei dati

A seguito di un'analisi preliminare si nota che alcune colonne non risultano utili per l'analisi.

# Lista colonne da eliminare

-VIN (1-10)
-Postal Code
-Base MSRP
-Legislative District
-DOL Vehicle ID
-Electric Utility
-2020 Census Tract
-Clean Alternative Fuel Vehicle (CAFV) Eligibility

# Lista colonne che verranno utilizzate con la relativa descrizione

*La descrizione è in lingua inglese perchè è la descrizione data dal sito: data.gov*

- **Country**: This is the geographic region of a state that a vehicle's owner is listed to reside within. Vehicles registered in Washington state may be located in other states.
-  **City**: The city in which the registered owner resides.
- **State**: This is the geographic region of the country associated with the record. These addresses may be located in other states.
- **Model Year**: The model year of the vehicle.
- **Make**: The manufacturer of the vehicle.
- **Model**: The model of the vehicle.
- **Electric Vehicle Type**: This distinguishes the vehicle as all electric or a plug-in hybrid.
- **Electric Range**: Describes how far a vehicle can travel purely on its electric charge.
- **Vehicle Location**: The center of the ZIP Code for the registered vehicle.

**Nota Bene**
I dato arrivano al 2025 a causa di alcuni preordini.

In [37]:
data = data.select(pl.exclude(['VIN (1-10)','Postal Code','Base MSRP','Legislative District','DOL Vehicle ID','Electric Utility','2020 Census Tract','Clean Alternative Fuel Vehicle (CAFV) Eligibility']))
data.describe()

shape: (9, 10)
┌────────────┬────────┬──────────┬────────┬───┬────────┬──────────┬───────────┬────────────────────┐
│ statistic  ┆ County ┆ City     ┆ State  ┆ … ┆ Model  ┆ Electric ┆ Electric  ┆ Vehicle Location   │
│ ---        ┆ ---    ┆ ---      ┆ ---    ┆   ┆ ---    ┆ Vehicle  ┆ Range     ┆ ---                │
│ str        ┆ str    ┆ str      ┆ str    ┆   ┆ str    ┆ Type     ┆ ---       ┆ str                │
│            ┆        ┆          ┆        ┆   ┆        ┆ ---      ┆ f64       ┆                    │
│            ┆        ┆          ┆        ┆   ┆        ┆ str      ┆           ┆                    │
╞════════════╪════════╪══════════╪════════╪═══╪════════╪══════════╪═══════════╪════════════════════╡
│ count      ┆ 216767 ┆ 216767   ┆ 216772 ┆ … ┆ 216772 ┆ 216772   ┆ 216753.0  ┆ 216761             │
│ null_count ┆ 5      ┆ 5        ┆ 0      ┆ … ┆ 0      ┆ 0        ┆ 19.0      ┆ 11                 │
│ mean       ┆ null   ┆ null     ┆ null   ┆ … ┆ null   ┆ null     ┆ 49.428386 ┆ null               │
│ std        ┆ null   ┆ null     ┆ null   ┆ … ┆ null   ┆ null     ┆ 86.224511 ┆ null               │
│ min        ┆ Ada    ┆ Aberdeen ┆ AE     ┆ … ┆ 330E   ┆ Battery  ┆ 0.0       ┆ POINT (-100.50078  │
│            ┆        ┆          ┆        ┆   ┆        ┆ Electric ┆           ┆ 31.4168)           │
│            ┆        ┆          ┆        ┆   ┆        ┆ Vehicle  ┆           ┆                    │
│            ┆        ┆          ┆        ┆   ┆        ┆ (BEV)    ┆           ┆                    │
│ 25%        ┆ null   ┆ null     ┆ null   ┆ … ┆ null   ┆ null     ┆ 0.0       ┆ null               │
│ 50%        ┆ null   ┆ null     ┆ null   ┆ … ┆ null   ┆ null     ┆ 0.0       ┆ null               │
│ 75%        ┆ null   ┆ null     ┆ null   ┆ … ┆ null   ┆ null     ┆ 42.0      ┆ null               │
│ max        ┆ Yuba   ┆ Zillah   ┆ WY     ┆ … ┆ ZDX    ┆ Plug-in  ┆ 337.0     ┆ POINT (-98.72277   │
│            ┆        ┆          ┆        ┆   ┆        ┆ Hybrid   ┆           ┆ 29.44539)          │
│            ┆        ┆          ┆        ┆   ┆        ┆ Electric ┆           ┆                    │
│            ┆        ┆          ┆        ┆   ┆        ┆ Vehicl…  ┆           ┆                    │
└────────────┴────────┴──────────┴────────┴───┴────────┴──────────┴───────────┴────────────────────┘

In [38]:
data = data.drop_nulls()

## Obiettivi dell'analisi

Gli obiettivi sono quelli di eseguire un'analisi completa sul dataset cercando di mostrare graficamente le informazioni che riguardano la vendita di auto elettriche, in base a determinate categorie. 

Per semplicità quando si analizzano entrambe le tipologie di vetture verrà usato il termine 'auto', invece se si fa riferimento solo ad una categoria delle due verranno usati i termini 'BEV' o 'PHEV'.

# Vendita annuale di auto BEV/PHEV

In [41]:

(
    data
    .group_by('Model Year')
    .agg(
        tot_per_year = pl.col('Model Year').count()
    )
    .sort(pl.col('Model Year'))
)

shape: (15, 2)
┌────────────┬──────────────┐
│ Model Year ┆ tot_per_year │
│ ---        ┆ ---          │
│ i64        ┆ u32          │
╞════════════╪══════════════╡
│ 2011       ┆ 699          │
│ 2012       ┆ 1536         │
│ 2013       ┆ 4298         │
│ 2014       ┆ 3466         │
│ 2015       ┆ 4708         │
│ …          ┆ …            │
│ 2021       ┆ 20074        │
│ 2022       ┆ 28592        │
│ 2023       ┆ 60292        │
│ 2024       ┆ 40102        │
│ 2025       ┆ 1428         │
└────────────┴──────────────┘

Si nota come nei primi anni il numero di auto vendute è molto basso, quindi per semplicità si prenderanno i dati a partire dal 2011.

In [ ]:
data = (
    data
    .filter(pl.col('Model Year')>2010)
)
# salvataggio dei dati nel file data.csv 
data.write_csv( ".."/ data_dir / "data.csv")

## Vendita di auto per marca

In [42]:
(
    data
    .group_by('Make')
    .agg(
        Vendita_per_marca = pl.col('Make').count()
    )
    .sort('Vendita_per_marca', descending = True)
)

shape: (42, 2)
┌────────────────┬───────────────────┐
│ Make           ┆ Vendita_per_marca │
│ ---            ┆ ---               │
│ str            ┆ u32               │
╞════════════════╪═══════════════════╡
│ TESLA          ┆ 93883             │
│ CHEVROLET      ┆ 15862             │
│ NISSAN         ┆ 15011             │
│ FORD           ┆ 11477             │
│ KIA            ┆ 10089             │
│ …              ┆ …                 │
│ BENTLEY        ┆ 5                 │
│ AZURE DYNAMICS ┆ 4                 │
│ ROLLS-ROYCE    ┆ 3                 │
│ RAM            ┆ 2                 │
│ VINFAST        ┆ 1                 │
└────────────────┴───────────────────┘

Si nota che alcuni marchi hanno un numero di vendite quasi pari a 0, quindi guardo la percentuale totale di auto vendute per ogni produttore. 

Per semplicità di analisi grafica, si vedranno solo le auto che hanno una percentuale di auto vendute nel dataset inferiore al 0.5%.

In [117]:
import altair as alt

data_test = (
        data
        .group_by('Make')
        .agg(
            Vendita_per_marca = (pl.col('Make').count() / len(data)*100).round(3)
        )
        .filter(pl.col('Vendita_per_marca') < .5)
    )
    
base = (
    alt.Chart(data_test)
    .encode(
        x='Vendita_per_marca:Q',
        y=alt.Y('Make:N', sort='-x'),
        color=alt.Color('Vendita_per_marca:Q', scale=alt.Scale(scheme='oranges'))
    )
)

base.mark_bar()

alt.Chart(...)

Dal grafico notiamo come ci sia una differenza signficativa tra un gruppo di auto e un altro. Quindi scelgo come soglia di esclusione dall'analisi per marca il numero 0.25%.

In [116]:
(
    data
    .group_by('Make')
    .agg(
        Vendita_per_marca = (pl.col('Make').count() / len(data)*100).round(3)
    )
    .filter(pl.col('Vendita_per_marca') < .25)
    .sort('Vendita_per_marca', descending = True)
)

shape: (16, 2)
┌────────────────┬───────────────────┐
│ Make           ┆ Vendita_per_marca │
│ ---            ┆ ---               │
│ str            ┆ f64               │
╞════════════════╪═══════════════════╡
│ LINCOLN        ┆ 0.148             │
│ LUCID          ┆ 0.146             │
│ GENESIS        ┆ 0.137             │
│ SMART          ┆ 0.113             │
│ JAGUAR         ┆ 0.109             │
│ …              ┆ …                 │
│ BENTLEY        ┆ 0.002             │
│ AZURE DYNAMICS ┆ 0.002             │
│ ROLLS-ROYCE    ┆ 0.001             │
│ RAM            ┆ 0.001             │
│ VINFAST        ┆ 0.0               │
└────────────────┴───────────────────┘

## Vendita di auto per contea

In [84]:
Total_County = (
    data
    .group_by('County')
    .agg(
        Total = pl.col('County').count()
    )
    .sort('Total', descending= True)
)

Total_County

shape: (205, 2)
┌───────────┬────────┐
│ County    ┆ Total  │
│ ---       ┆ ---    │
│ str       ┆ u32    │
╞═══════════╪════════╡
│ King      ┆ 110122 │
│ Snohomish ┆ 26195  │
│ Pierce    ┆ 17392  │
│ Clark     ┆ 12937  │
│ Thurston  ┆ 7936   │
│ …         ┆ …      │
│ Cook      ┆ 1      │
│ Hudson    ┆ 1      │
│ Hennepin  ┆ 1      │
│ Arlington ┆ 1      │
│ Sedgwick  ┆ 1      │
└───────────┴────────┘

Risulta utile verificare la percentuale di auto immatricolate in base alla contea, così da avere un'idea più chiara di come si distribuiscono le auto rispetto al territorio.

In [85]:
num_car = len(data)

perc_county = (
    data
    .group_by('County')
    .agg(
        Total = (pl.col('County').count()/num_car*100).round(3)
    )
    .sort('Total', descending= True)
)

perc_county

shape: (205, 2)
┌──────────────┬────────┐
│ County       ┆ Total  │
│ ---          ┆ ---    │
│ str          ┆ f64    │
╞══════════════╪════════╡
│ King         ┆ 50.822 │
│ Snohomish    ┆ 12.089 │
│ Pierce       ┆ 8.026  │
│ Clark        ┆ 5.97   │
│ Thurston     ┆ 3.662  │
│ …            ┆ …      │
│ Meade        ┆ 0.0    │
│ St. Lawrence ┆ 0.0    │
│ York         ┆ 0.0    │
│ Geary        ┆ 0.0    │
│ Kauai        ┆ 0.0    │
└──────────────┴────────┘

Analizzando la combinazione tra contea e numero di auto vendute per contea, si nota come ci siano enormi differenze tra le contee. Si nota come le contee vicine a Seattle e Portland(si intendono le contee confinanti con lo stato dell'Oregon) abbiano un numero di auto vendute significativo rispetto alle altre contee. 

A causa di questo, in seguito si andrà ad analizzare questo dato in base alla localizzazione geografica e non alla contea.

## Vendita di auto in base alla localizzazione

Per eseguire questa analisi, verifichiamo i dati che sono presenti nella colonna *Vehicle Location*. 

Questi dati poi verranno usati per creare una mappa 3d in cui si vede dove sono state immatricolate le auto nello stato di Washington.

In [59]:
import re
import pandas as pd

data_point = (
    data
    .select(pl.col('Vehicle Location'))
)

#Si nota che è di tipo str
print(f'Tipologia del dato :{data_point[0]}')

#Creiamo una lista contenente tuple  ('longitue','latitude'): (float, float)
coord_list = []
for row in data_point.rows():
    if row[0] is not None:
        numb = re.findall(r'-?\d+\.\d+|-?\d+', row[0])
        coord = (float(numb[0]), float(numb[1]))
        coord_list.append(coord)

#verifichiamo la lunghezza della lista
print(f'Lunghezza della lista coord_list: {len(coord_list)}')

#verifichiamo i primi 5 elementi di coord_list

print('Tipologia e dato di coord_list')
for i in range(5):
    print(f'Tipo: {type(coord_list[i])} Dato:{coord_list[i]}')

Tipologia del dato :shape: (1, 1)
┌─────────────────────────────┐
│ Vehicle Location            │
│ ---                         │
│ str                         │
╞═════════════════════════════╡
│ POINT (-122.36498 47.72238) │
└─────────────────────────────┘
Lunghezza della lista coord_list: 216683
Tipologia e dato di coord_list
Tipo: <class 'tuple'> Dato:(-122.36498, 47.72238)
Tipo: <class 'tuple'> Dato:(-122.30207, 47.64085)
Tipo: <class 'tuple'> Dato:(-122.54729, 47.42602)
Tipo: <class 'tuple'> Dato:(-122.89166, 47.03956)
Tipo: <class 'tuple'> Dato:(-122.87741, 47.05997)

## Vendita di auto in base a produttore e anno

In [62]:
(
    data
    .group_by('Make', 'Model Year')
    .agg(
        Vendita_per_marca = pl.col('Make').count()
    )
)

shape: (267, 3)
┌───────────────┬────────────┬───────────────────┐
│ Make          ┆ Model Year ┆ Vendita_per_marca │
│ ---           ┆ ---        ┆ ---               │
│ str           ┆ i64        ┆ u32               │
╞═══════════════╪════════════╪═══════════════════╡
│ KIA           ┆ 2022       ┆ 2116              │
│ TOYOTA        ┆ 2012       ┆ 377               │
│ PORSCHE       ┆ 2015       ┆ 33                │
│ VOLKSWAGEN    ┆ 2021       ┆ 990               │
│ VOLVO         ┆ 2023       ┆ 1412              │
│ …             ┆ …          ┆ …                 │
│ MINI          ┆ 2020       ┆ 18                │
│ MERCEDES-BENZ ┆ 2015       ┆ 24                │
│ NISSAN        ┆ 2023       ┆ 1490              │
│ VOLVO         ┆ 2019       ┆ 196               │
│ BMW           ┆ 2024       ┆ 1985              │
└───────────────┴────────────┴───────────────────┘

## Vendita di auto in base a tipologia di motore e produttore

In [63]:
(
    data
    .group_by('Make', 'Electric Vehicle Type')
    .agg(
        Engine = pl.col('Electric Vehicle Type').count()
    )
)

shape: (60, 3)
┌────────────┬─────────────────────────────────┬────────┐
│ Make       ┆ Electric Vehicle Type           ┆ Engine │
│ ---        ┆ ---                             ┆ ---    │
│ str        ┆ str                             ┆ u32    │
╞════════════╪═════════════════════════════════╪════════╡
│ NISSAN     ┆ Battery Electric Vehicle (BEV)  ┆ 15011  │
│ VOLKSWAGEN ┆ Battery Electric Vehicle (BEV)  ┆ 5826   │
│ PORSCHE    ┆ Plug-in Hybrid Electric Vehicl… ┆ 543    │
│ SUBARU     ┆ Battery Electric Vehicle (BEV)  ┆ 1545   │
│ GENESIS    ┆ Battery Electric Vehicle (BEV)  ┆ 297    │
│ …          ┆ …                               ┆ …      │
│ RAM        ┆ Battery Electric Vehicle (BEV)  ┆ 2      │
│ AUDI       ┆ Plug-in Hybrid Electric Vehicl… ┆ 1709   │
│ BMW        ┆ Plug-in Hybrid Electric Vehicl… ┆ 5432   │
│ JAGUAR     ┆ Battery Electric Vehicle (BEV)  ┆ 237    │
│ LEXUS      ┆ Battery Electric Vehicle (BEV)  ┆ 392    │
└────────────┴─────────────────────────────────┴────────┘

## Ventita annuale di auto in base al modello e marca

Per semplificare il layout del grafico a seguito di un'analisi è stato deciso di eliminare i modelli dei produttori che hanno venduto meno di 15 auto all'anno.

In [100]:
#In questo caso è stato filtrato il produttore e il modello per semplicità di output.
(
    data
    .group_by('Make', 'Model', 'Model Year')
    .agg(
        Total = pl.col('Model').count()
    )
    .filter(pl.col('Total') >= 15)
    .sort([pl.col('Model Year'),pl.col('Total')], descending=False)
)

shape: (432, 4)
┌────────────┬───────────────┬────────────┬───────┐
│ Make       ┆ Model         ┆ Model Year ┆ Total │
│ ---        ┆ ---           ┆ ---        ┆ ---   │
│ str        ┆ str           ┆ i64        ┆ u32   │
╞════════════╪═══════════════╪════════════╪═══════╡
│ CHEVROLET  ┆ VOLT          ┆ 2011       ┆ 73    │
│ NISSAN     ┆ LEAF          ┆ 2011       ┆ 610   │
│ MITSUBISHI ┆ I-MIEV        ┆ 2012       ┆ 40    │
│ TESLA      ┆ MODEL S       ┆ 2012       ┆ 128   │
│ TOYOTA     ┆ PRIUS PLUG-IN ┆ 2012       ┆ 368   │
│ …          ┆ …             ┆ …          ┆ …     │
│ VOLVO      ┆ XC60          ┆ 2025       ┆ 95    │
│ BMW        ┆ IX            ┆ 2025       ┆ 112   │
│ NISSAN     ┆ LEAF          ┆ 2025       ┆ 139   │
│ BMW        ┆ X5            ┆ 2025       ┆ 189   │
│ RIVIAN     ┆ R1S           ┆ 2025       ┆ 412   │
└────────────┴───────────────┴────────────┴───────┘