In [1]:
import polars as pl

In [3]:
data = pl.read_csv('/Users/alessandrogobbo/Documents/PROJECT_SE2/DATA/data.csv')

In [40]:
data_test = (
    data
    .group_by('Make')
    .agg(
        Vendita = pl.col('Make').count()
    )
    .sort('Vendita', descending = True)
    .select('Make')
)

data_list = data_test.rows()[0:4]

In [38]:


data_list = data_test.rows()[0:4]
#data_list = data_list[0:4]

In [41]:
print(data_list)

[('TESLA',), ('CHEVROLET',), ('NISSAN',), ('FORD',)]

In [34]:

text = f'''Prova di scrittura\n{'\n'.join( [ element[0] for element in data_list])}'''

print(text)

Prova di scrittura
TESLA
CHEVROLET
NISSAN
FORD

In [8]:
data_type_engine = (
    data
    .group_by('Make', 'Electric Vehicle Type')
    .agg(
        Engine = pl.col('Electric Vehicle Type').count()
    )
    .filter(
        pl.col('Make') == 'VOLVO'
    )
)

data_type_engine.head()

shape: (2, 3)
┌───────┬─────────────────────────────────┬────────┐
│ Make  ┆ Electric Vehicle Type           ┆ Engine │
│ ---   ┆ ---                             ┆ ---    │
│ str   ┆ str                             ┆ u32    │
╞═══════╪═════════════════════════════════╪════════╡
│ VOLVO ┆ Plug-in Hybrid Electric Vehicl… ┆ 3557   │
│ VOLVO ┆ Battery Electric Vehicle (BEV)  ┆ 1735   │
└───────┴─────────────────────────────────┴────────┘

In [10]:
data_model = (
        data
        .group_by('Make', 'Model')
        .agg(
            Vendita_per_modello = pl.col('Model').count(),         
        )
        .filter(pl.col('Make') == 'TESLA')
    )

data_model

shape: (6, 3)
┌───────┬────────────┬─────────────────────┐
│ Make  ┆ Model      ┆ Vendita_per_modello │
│ ---   ┆ ---        ┆ ---                 │
│ str   ┆ str        ┆ u32                 │
╞═══════╪════════════╪═════════════════════╡
│ TESLA ┆ MODEL S    ┆ 7858                │
│ TESLA ┆ MODEL Y    ┆ 45231               │
│ TESLA ┆ ROADSTER   ┆ 51                  │
│ TESLA ┆ MODEL X    ┆ 6302                │
│ TESLA ┆ CYBERTRUCK ┆ 859                 │
│ TESLA ┆ MODEL 3    ┆ 33630               │
└───────┴────────────┴─────────────────────┘